:root {
  --color-bg: #F5F5FA;
  --color-main: #252C32;
  --color-accent: #A337FF;
  --color-main-btn: linear-gradient(90deg, #DA22FF 0%, #9733EE 100%);
  --color-placeholder: #808191;
  --color-text: #9B9B9B;
  --color-border: #DDE2E4;
  --color-blue: #5E81F4;
  --color-primary: #4094F7;
  --color-link: #2962FF;
  --color-green: #4CAF50;
  --color-gray: #90A4AE;
  --color-red: #EF5350;
  --color-red-600: #F2271C;
  --color-white: #ffffff;
  --color-black: #000000;
  --anim-transition: ease-out .2s;
}