.content p,
.p,
.content li,
.li {
	font-size: 1.4rem;
	line-height: (18/14) * 1;
}

.content ul,
.content ol {
}
.content p,
.p {
	color: var(--color-text);
	&:not(:first-child) {
		margin-top: 1rem;
	}
}
.content b,
.b {
	font-weight: bold;
}

.content strong,
.strong {
	font-weight: 500;
}

.content a,
.a {
}

.h1,
.content h1,
.h2,
.content h2,
.h3,
.content h3,
.h4,
.content h4,
.h5,
.content h5,
.h6,
.content h6 {

}

.h1,
.content h1 {
}

.h2,
.content h2 {
	font-size: 2.4rem;
	line-height: 1.375em;
	font-weight: 700;
}

.h3,
.content h3 {
	font-weight: 400;
	font-size: 2rem;
}

.h4,
.content h4 {
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 1.3em;
}

.h5,
.content h5 {
	font-weight: 500;
	font-size: 1.6rem;
}

.h6,
.content h6 {
}
.top-content {
	padding: 1.6rem 0;
	h4 {
		font-size: 1.6rem;
		margin-bottom: .8rem;
	}
	h3 {
		font-size: 1.8rem;
		color: #1C1D21;
		&:not(:last-child) {
			margin-bottom: .8rem;
		}
	}
	p {
		font-size: 1.2rem;
		letter-spacing: -0.011em;
		color: var(--color-placeholder);
	}
}
.subtitle {
	font-weight: 600;
	font-size: 1.6rem;
	color: #1C1D21;
}