-
	var sliderSettings = {
		spaceBetween: 20,
		loop: true,
		autoplay: {
			delay: 3000
		}
	}

+e.banner.banner__
	+e.slider.swiper-container.js-slider(data-settings=sliderSettings)
		.swiper-wrapper
			.swiper-slide
				+e.bg.absolute
					+e.IMG(src="app/img/banner-1.svg").image.object-fit
				+e.content
					+e.H4.title.h4 С чего начать?
					+e.P.text Рекомендванный портфель стратегий
					+e.A(href="#").link Узнать подробнее
			.swiper-slide
				+e.bg.absolute
					+e.IMG(src="app/img/banner-2.svg").image.object-fit
				+e.content
					+e.H4.title.h4 С чего начать?
					+e.P.text Рекомендванный <br> портфель стратегий