+b.add-card.js-card
	+b.card
		+e.bg.absolute
			+b.IMG(src="app/img/card-bg.svg" alt="").object-fit
		+e.wrap
			+e.top.flex._bottom._justify
				+e.SPAN.text Банковская карта
				+e.logo
					+e.IMG(src="app/img/master-card.svg" alt="")
			+e.number 4433 3453 2345 4242
			+e.bottom.flex._justify
				+e.day 01/24
				+e.code 533
	+e.FORM(action="").form.box
		+e.row.flex
			+input('', '', 'card')(type="text" inputmode="numeric" data-inputmask="'mask': '9999 9999 9999 9999', 'placeholder': ''" required)
			+e.field.input__._width
				+e.parent
					+e.INPUT.field(type="text" inputmode="numeric" name="day" placeholder="" autocomplete="off" data-inputmask="'mask': '99/99', 'placeholder': ''" required)
			+e.field.input__._width
				+e.parent
					+e.INPUT.field(type="text" inputmode="numeric" name="code" placeholder="" autocomplete="off" data-inputmask="'mask': '999', 'placeholder': ''" required)
		+btn()(class="_blue _tiny _left" type="submit") Подключить