+e.socials.socials__
	+b.line-text
		+e.SPAN или
	+btn(true)(class="_bg _icon")
		img(src="app/img/socials-icon-1.svg")
		| Google
	+btn(true)(class="_blue _icon")
		img(src="app/img/socials-icon-2.svg")
		| Facebook
	+btn(true)(class="_primary _icon")
		img(src="app/img/socials-icon-3.svg")
		| Вконтакте