+b.A(href="#").card-strategy._exclusive
	+e.top
		+e.bg.absolute
			+b.IMG(src="/img/card-strategy-2.png" alt="").object-fit
		+e.content
			+e.cell._lefy
				+e.title To the m00n <br> Strategy
			+e.cell._right
				+e.subtitle Уровень риска
				+e.count.h2 3/5
	+e.bottom.flex._justify
		+e.badge.flex
			+b.SPAN.badge._red Спот
			+b.SPAN.badge._blue Криптовалюта
		+e.cell._left
			+e.text Рекомендованный бюджет
			+e.price.price 0,02  BTC
		+e.cell._right.css-text-right
			+e.text._small прибыль за месяц
			+e.profit.profit__
				+icon('profit')
				| +80%