+b.A(href="#").card-strategy
	+e.top
		+e.bg.absolute
			+b.IMG(src="/img/card-strategy-3.png" alt="").object-fit
		+e.content
			+e.title To the m00n <br> Strategy
			+e.subscriber 250 подписчиков
	+e.bottom.flex._justify._bottom
		+e.cell._left
			+e.price.price._middle 4%
			+e.text от прибыли
		+e.cell._right.css-text-right
			+e.text._small прибыль за месяц
			+e.profit.profit__
				+icon('profit')
				| +62%