.management {
  &__item {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__day {
    color: rgba(24, 24, 25, 0.7);
    text-align: right;
  }
  &__name {
    font-weight: 600;
    color: rgba(24, 24, 25, 0.9);
    margin-bottom: 1rem;
    max-width: 13rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__cell {
    &_right {
      max-width: 19rem;
    }
    &_left {
      max-width: 13rem;
    }
  }
  &__btn {
    padding-left: .8rem;
    padding-right: .8rem;
  }
}