+b.modal.mfp-hide.mfp-hide-close#success-api
	+e.icon.icon._small
		+icon('key')
	+e.content.css-text-center
		+e.H4.title.h4 Ключ успешно добавлен
		+e.P.text Вы успешно добавили Binance аккаунт
	+e.bottom.flex._center
		+btn()(class="_blue _tiny js-close-modal") Окей