mixin btn(link = false, submit = false)
    if (link)
        +e.A.btn.btn__(href=link)&attributes(attributes)
            +e.back
            +e.SPAN.text
                if block
                    block
    else
        +e.BUTTON.btn.btn__(type=`${submit ? 'submit' : 'button'}`)&attributes(attributes)
            +e.back
            +e.SPAN.text
                if block
                    block

mixin btn-refresh
    +b.BUTTON.btn-refresh.flex._vertical._center(type="reset")&attributes(attributes)
        +icon('refresh')