extends ../layouts/base

append vars
	- title = 'Main page';

block content
	.test.js-slider Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias culpa, cumque cupiditate dolorem enim ex ipsa ipsam iste labore nobis nostrum nulla omnis quam quis quisquam sint, tempora. Rem?