extends ../layouts/base

append vars
	- title = 'Новый пароль';
	- login = true

block content
	+e.logo.logo__._width
		+e.A(href="#").link
			+e.IMG(src="app/img/logo.svg" alt="Логотип" width="40" height="40")
	+e.content.content
		+e.H3 Новый пароль
	+e.FORM(action="").form
		+input('Новый пароль', 'Введите новый пароль', 'password')(type="password" data-rule-password="password" id="password" required)
		+input('Повторите пароль', 'Повторите пароль', 'password_repeat')(type="password" data-rule-password="password" data-rule-equalTo="#password" required)
		+btn(false, true) Сохранить