extends ../layouts/base

append vars
	- title = 'Ондобрдин №3. Привязка карты';


block content
	+b.SECTION.onboarding
		.container
			+e.top
				+e.logo.logo__._width
					+e.A(href="#").link
						+e.IMG(src="app/img/logo.svg" alt="Логотип" width="40" height="40")
				+e.A(href="main.html").skip.link Пропустить
			+e.content
				+e.image
					+b.IMG(src="/app/img/illustration-4.svg" alt="").object-fit
				+e.wrap.css-text-center
					+e.subtitle.color-blue Шаг 4
					+e.P На заключительном шаге рассказываем о том, как легко копировать трейды при помощи подключенной стратегии и просто на этом зарабатывать.
		+e.bottom
			.container
				+b.steps
					+e.line
					+e.line
					+e.line
					+e.line.is-active
				+btn('main.html') Заврешить
				+e.A(href="onboarding-v-3.html").link.link Назад