extends ../layouts/base

append vars
	- title = 'Ондобрдин №2. Выбор стратегии';
	- login = true
append scripts
	script(src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js")
block content
	+b.SECTION.onboarding
		.container
			+e.top
				+e.logo.logo__._width
					+e.A(href="#").link
						+e.IMG(src="app/img/logo.svg" alt="Логотип" width="40" height="40")
				+e.A(href="#").skip.link Пропустить
			+e.content
				+e.image
					lottie-player(src="app/illustration/illustration-2.json" background="transparent" speed="1" loop autoplay).absolute
				+e.wrap.css-text-center
					+e.subtitle.color-blue Шаг 2
					+e.P На втором шаге рассказываем <br> о необ ходимости выбрать <br> и подключить стратегию
		+e.bottom
			.container
				+b.steps
					+e.line
					+e.line.is-active
					+e.line
					+e.line
				+btn('onboarding-v-3.html') Следующий
				+e.A(href="onboarding-v-1.html").link.link Назад