extends ../layouts/base

append vars
	- title = 'Мой портфель (Список моих стратегий)';
	- current = 'portfolio'
block content
	+b.SECTION.portfolio
		.container
			+b.top-content__
				+b.H3 Мой портфель
			+b.parameters
				+e.item
					+e.IMG(src="/app/img/parameters-icon-1.svg" alt="").icon
					+e.subtitle Текущий <br> портфель
					+e.title $6 322
					+e.info.info(data-tippy-placement="auto" data-tippy-content="Текущий <br> портфель")
						+icon('info')
				+e.item
					+e.IMG(src="/app/img/parameters-icon-2.svg" alt="").icon
					+e.subtitle % портфеля в <br> инвестициях
					+e.title 6%
					+e.info.info(data-tippy-placement="auto" data-tippy-content="% портфеля в <br> инвестициях")
						+icon('info')
				+e.item
					+e.IMG(src="/app/img/parameters-icon-3.svg" alt="").icon
					+e.subtitle Общее количество <br> сделок
					+e.title 192
					+e.info.info(data-tippy-placement="auto" data-tippy-content="Общее количество <br> сделок")
						+icon('info')
				+e.item
					+e.IMG(src="/app/img/parameters-icon-4.svg" alt="").icon
					+e.subtitle Успешных <br> сделок
					+e.title 182
					+e.info.info(data-tippy-placement="auto" data-tippy-content="Успешных <br> сделок")
						+icon('info')
				+e.item
					+e.IMG(src="/app/img/parameters-icon-5.svg" alt="").icon
					+e.subtitle % прибыльных <br> сигналов
					+e.title 82%
					+e.info.info(data-tippy-placement="auto" data-tippy-content="% прибыльных <br> сигналов")
						+icon('info')
				+e.item
					+e.IMG(src="/app/img/parameters-icon-6.svg" alt="").icon
					+e.subtitle Открытых <br> позиций
					+e.title BTC
					+e.info.info(data-tippy-placement="auto" data-tippy-content="Открытых <br> позиций")
						+icon('info')
			+b.list-strategy
				+e.H3.title.title Список моих стратегий
				include ../modules/strategy-card-1
				include ../modules/strategy-card-2
				include ../modules/strategy-card-3