extends ../layouts/base

append vars
	- title = 'Восстановление пароля';
	- login = true

block content
	+e.logo.logo__._width
		+e.A(href="#").link
			+e.IMG(src="app/img/logo.svg" alt="Логотип" width="40" height="40")
	+e.content.content
		+e.H3 Восстановление пароля
		+e.P Введите адрес электронной почты,  который вы использовали при регистрации
	+e.FORM(action="").form
		+input('Email', 'Email', 'email')(type="email" required)
		+btn(false, true) Восстановить пароль