block vars
	-
		current = 'dashboard'

+b.FOOTER.footer
	.container
		+b.NAV.nav
			+e.item(class=`${current === 'dashboard' ? 'is-active' : ''}`)
				+e.A(href="main.html").link
					+e.icon
						+icon('dashboard')
					+e.SPAN.text Дашборд
			+e.item
				+e.A(href="#").link
					+e.icon
						+icon('strategy')
					+e.SPAN.text Стратегии
			+e.item(class=`${current === 'portfolio' ? 'is-active' : ''}`)
				+e.A(href="portfolio-v-1.html").link
					+e.icon
						+icon('briefcase')
					+e.SPAN.text Портфель
			+e.item(class=`${current === 'profile' ? 'is-active' : ''}`)
				+e.A(href="profile-v-1.html").link
					+e.icon
						+e.user
							+b.IMG(src="/img/avatar.png" alt="Александр").object-fit
					+e.SPAN.text Профиль