+b.HEADER.header
	.container
		+e.inner
			+e.logo.logo__
				+e.A(href="main.html").link
					+e.IMG(src="app/img/logo.svg" alt="Логотип" width="40" height="40")
			+e.notice
				+e.A(href="#").link
					+icon('notice')
			+e.avatar.avatar__
				+e.A(href="#").link
					+b.IMG(src="/img/avatar.png" alt="Александр").object-fit