.dashboard {
  &__top {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    &-name {
      font-size: 1.6rem;
      color: #7D8592;
      display: block;
      margin-bottom: .5rem;
    }
  }
  &__tabs {
    padding-top: 1.6rem;
  }
}