.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  padding: 1.1rem 2rem;
  min-height: 4.5rem;
  position: relative;
  border-radius: .6rem;
  font-weight: 600;
  color: var(--color-white);
  transition: var(--anim-transition);
  margin-top: 1rem;
  z-index: 1;
  &:hover {
    opacity: .9;
    .btn__back {
      width: 150%;
      height: 150%;
    }
  }
  &__back {
    background: var(--color-main-btn);
    position: absolute;
    width: calc(100% + .2rem);
    height: calc(100% + .2rem);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: var(--anim-transition);
    z-index: -1;
  }
  &_bg {
    .btn__back {
      display: none;
    }
    background-color: var(--color-main);
  }
  &_border {
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
    .btn__back {
      display: none;
    }
    &:hover {
      background-color: var(--color-accent);
      color: var(--color-white);
    }
  }
  &_blue {
    font-weight: 400;
    .btn__back {
      display: none;
    }
    background-color: var(--color-blue);
    &.btn_disabled {
      opacity: 0.75;
    }
    &.btn_border {
      background-color: transparent;
      color: var(--color-blue);
      border-color: var(--color-blue);
    }
  }
  &_primary {
    .btn__back {
      display: none;
    }
    background-color: var(--color-primary);
  }
  &_icon {
    img {
      width: 2.4rem;
      height: 2.4rem;
      position: absolute;
      left: 3rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &_tiny {
      width: auto;
      min-width: 6rem;
      padding: 0.54rem 1.2rem;
      display: inline-flex;
      min-height: 3.2rem;
  }
  &_small {
    min-height: 4rem;
    padding: 1rem 2rem;
  }
  &_left {
    display: flex;
    margin-left: auto;
    max-width: fit-content;
  }
}
.btn-refresh {
  width: 3.2rem;
  min-height: 3.2rem;
  border-radius: .6rem;
  background-color: #E4E8F3;
  margin: 1rem 1.6rem 0 0;
  svg {
    width: 2rem;
    height: 2rem;
    fill: var(--color-blue)
  }
}

.btn-sort,
.btn-filter {
  width: 3rem;
  height: 3rem;
  border-radius: .6rem;
  background: rgba(94, 129, 244, 0.1);
  position: relative;
  svg {
    width: 2rem;
    height: 2rem;
    fill: var(--color-blue);
    stroke-width: .3rem;
  }
  &_active {
    &::before {
      content: attr(data-number);
      position: absolute;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      background-color: var(--color-blue);
      border: .2rem solid var(--color-white);
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-white);
      font-size: .8rem;
      line-height: 1em;
      top: -.6rem;
      right: -.6rem;
    }
  }
}

.btn-radio {
  display: block;
  text-align: center;
  max-width: fit-content;
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    &:checked {
      & ~ .btn-radio__text {
        background-color: var(--color-blue);
        border-color: var(--color-blue);
        color: var(--color-white);
      }
    }
  }
  &__text {
    min-width: 5.5rem;
    min-height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: .6rem;
    color: var(--color-gray);
    border: 1px solid #EEF0F2;
    padding: .4rem;
    transition: all linear .2s;
  }
}