.checkbox {
  display: block;
  margin-top: 1.5rem;
  user-select: none;
  &_no-margin {
    margin-top: 0;
  }
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    transform: scale(0);
    &:checked {
      & ~ .checkbox__text {
        .checkbox__arrow {
          background-color: var(--color-blue);
          border-color: var(--color-blue);
        }
      }

    }
  }
  &__text {
    display: flex;

  }
  &__arrow {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    border: 1px solid #B0BABF;
    background-color: #F6F8F9;
    border-radius: .4rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: var(--anim-transition);
    margin-right: 1rem;
    cursor: pointer;
    margin-top: -.1rem;
    .icon {
      fill: var(--color-white);
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}