.checkbox {
  display: block;
  margin-top: 1.6rem;
  user-select: none;
  &_no-margin {
    margin-top: 0;
  }
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    transform: scale(0);
    &:checked {
      & ~ .checkbox__text {
        .checkbox__arrow {
          background-color: var(--color-blue);
          border-color: var(--color-blue);
        }
      }

    }
  }
  &__text {
    display: flex;

  }
  &__arrow {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    border: 1px solid #5E81F4;
    background-color: var(--color-white);
    border-radius: .4rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: var(--anim-transition);
    margin-right: 1rem;
    cursor: pointer;
    margin-top: -.1rem;
    svg {
      fill: var(--color-white);
      width: 1.2rem;
      height: 1.2rem;
    }
  }
  &.error {
    .checkbox__text {
      color: var(--color-red);
    }
    .checkbox__arrow {
      border-color: var(--color-red);
    }
  }
}
.checkbox-sort {
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    transform: scale(0);
    &:checked {
      & ~ .checkbox-sort__text {
        svg {
          transform: rotate(180deg);
        }

        font-size: 0;
        &::before {
          content: attr(data-sort);
          display: inline-block;
          font-size: 1.2rem;
        }
      }
    }
  }
  &__text {
    font-size: 1.2rem;
    color: var(--color-blue);
    display: inline-flex;
    align-items: center;
    user-select: none;
    svg {
      width: 2.7rem;
      height: 2.7rem;
      flex-shrink: 0;
      fill: var(--color-blue)
    }
  }
}