.icon {
  width: 3.6rem;
  height: 3.6rem;
  background-color: rgba(#5E81F4, .1);
  fill: var(--color-blue);
  border-radius: .4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  svg {
    width: 2rem;
    height: 2rem;
  }
  &_small {
    width: 5.5rem;
    height: 5.5rem;
    svg {
      width: 3.8rem;
      height: 3.8rem;
    }
  }
  &_tiny {
    width: 3.5rem;
    height: 3.5rem;
    svg {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
  &_red {
    background: rgba(255, 68, 68, 0.1);
    stroke: #D64D51;
    stroke-width: .2rem;
  }
}
.info {
  width: 1.2rem;
  height: 1.2rem;
  fill: var(--color-placeholder);
  cursor: pointer;
}
.icon-qrCode {
  width: 20rem;
  height: 20rem;
  fill: #474747;
  margin: 0 auto;
  display: block;
}