.logo {
  &_width {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__link {
    display: inline-block;
    img {
      max-width: 4rem;
      height: auto;
    }
  }
}