.card-strategy {
  background-color: var(--color-white);
  box-shadow: 0 1rem 4rem rgba(242, 242, 242, 0.5);
  border-radius: 1.6rem;
  overflow: hidden;
  margin-top: 1.6rem;
  display: block;
  &__top {
    color: var(--color-white);
    position: relative;
    display: block;
  }
  &__content {
    padding: 1.6rem 1.6rem 1rem;
    min-height: 11.2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    font-weight: 600;
  }
  &__title {
    font-size: 2rem;
    line-height: 1.3em;
    padding-bottom: .5rem;
    display: block;
  }
  &__subscriber {
    margin-top: auto;
    display: block;
  }
  &__bottom {
    padding: 1rem 1.6rem;
  }
  &__text {
    display: block;
    font-size: 1.2rem;
    color: #455A64;
    font-weight: 500;
    &_small {
      font-size: 1.1rem;
    }
  }
  &__profit {
    margin-top: .8rem;
  }
  &__subtitle {
    display: block;
    margin-bottom: .8rem;
  }

  &__conut {
    line-height: 1em;
  }
  &_exclusive {
    .card-strategy {
      &__content {
        min-height: 8.5rem;
        flex-direction: row;
        justify-content: space-between;
      }
      &__title {
        padding-bottom: 0;
      }
      &__subtitle {
        font-weight: 500;
        font-size: 1.2rem;
      }
      &__badge {
        width: 100%;
        margin-bottom: 1rem;
        .badge {
          margin-right: .5rem;
        }
      }
      &__price {
        margin-top: .8rem;
        font-weight: 700;
      }
      &__text {
        color: var(--color-placeholder);
      }
      &__bottom {
        .card-strategy__cell {
          &_left {
            width: 55%;
          }
          &_right {
            width: 45%;
          }
        }
      }
    }
  }
}
.list-strategy {
  margin-top: 2rem;
  &__btn {
    margin-top: 2rem;
  }
}